<!DOCTYPE html>
<html ng-app="mainModule">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="favicon.png" />
	<link href="bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
	<script src="jquery-2.1.0.min.js"></script>
	<script src="moment-with-langs.min.js"></script>
	<script src="bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
	<script src="angular.js"></script>
	<script src="app.js"></script>
	<title>Series</title>
</head>

<body ng-controller="SeriesController">
	<div class="container">
		<h1>Series</h1>
		<table class="table table-striped" ng-if="!loading">
			<tr ng-repeat="serie in series">
				<td>{{serie.title}}</td>
				<td>
					<svg height="10" width="380">
						<g transform="translate(10)">
							<line
								x1="0"
								y1="5"
								ng-attr-x2="{{dayInTargetYear.isLeapYear() ? 366 : 365}}"
								y2="5"
								stroke="black"
								stroke-width="1"
							/>
					    	<circle
					    		ng-repeat="episode in serie.episodesAirDates"
					    		ng-attr-cx="{{episode.dayOfYear()}}"
					    		cy="5"
					    		r="3"
					    		stroke="black"
					    		fill="{{! episode.isBefore() ? 'white' : 'black'}}"
					    		stroke-width="2"
				    		/>
					    </g>						
					</svg>
				</td>
			</tr>
		</table>
		<p ng-if="loading">
			Loading...
		</p>
	</div>
</body>

</html>