* {
	color : rgb(131, 144, 151);
}
.progress * {
	color : rgb(255, 255, 255);
}
h1 {
	color : rgb(0, 0, 0);
}
small * {
	color : rgb(95, 87, 60);
}
.present, .absent {
	width : 2px;
	height : 5px;
	display:block;
}
.present {
	background : black;
}
.absent {
	background : lightgray;
}